<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turkcell.tc.service"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <permission
        android:name="com.turkcell.tc.permission.ACCESS_SERVICE"
        android:protectionLevel="signatureOrSystem" />
    <permission
        android:name="com.turkcell.tc.permission.ACCESS_SERVICE_ASYNC"
        android:protectionLevel="signatureOrSystem" />

    <application android:label="@string/app_name" >
        <service
            android:name=".TCService"
            android:permission="com.turkcell.tc.permission.ACCESS_SERVICE" >
            <intent-filter>
                <action android:name="com.turkcell.tc.common.ITCService" />
            </intent-filter>
        </service>
    </application>

</manifest>